* {
    box-sizing: border-box;
}


/*header css*/

.offer a {
    display: block;
    font-size: 1.5em;
    background: #84c639;
    padding: .3em 1em;
    color: white;
    text-align: center;
}

.search {
    float: left;
    width: 27%;
    margin-left: 5em;
    margin-top: 0.1em;
}

.search form {
    width: 300%;
}

.search input[type="text"] {
    outline: none;
    font-size: 14px;
    padding: 14px 0 10px 0;
    width: 85%;
}

.search input[type="submit"] {
    outline: none;
    padding: 10px 0 10px;
    width: 13%;
    position: relative;
    background: url(/FEStarted/img/img-sp.png) no-repeat 10px 10px #FA1818;
}

.cart {
    margin-left: 6em;
}

.cart input.button {
    color: white;
    font-size: 14px;
    outline: none;
    text-transform: capitalize;
    padding: .5em 2.5em .5em 1em;
    border: 1px solid #84c639;
    margin: .45em 0 0;
    background: url(/FEStarted/img/cart.png) no-repeat 116px 9px;
}

.header_right {
    float: left;
    padding-left: 4em;
}

.header_right1 {
    float: right;
}

.header_right1 a {
    font-size: 1.5em;
    display: block;
    color: white;
    padding: .3em 1.5em;
    background: red;
}

.profile_drop:hover>.dropdown-menu {
    display: block;
    position: absolute;
}


/*body css*/

.nav_item {
    display: inline-block;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 10px;
}

li {
    list-style: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.nav_image {
    float: left;
    list-style: none;
}

.menu {
    max-width: 2000px;
    margin-left: 5%;
}

img {
    max-width: 100%;
}

.banner-nav-left {
    border: 2px brown;
    background: #f5f5f5;
}

.banner_nav_right {
    padding-left: 0px;
}

.banner_nav_right_banner {}

.nav_bottom_item_link {
    display: block;
    height: 30px;
    margin-top: 10px;
    border-bottom: 1px black;
    padding-left: 10%;
    border-bottom: 1px dotted #cdcdcd;
}

.text {
    position: absolute;
    top: 15%;
    right: 10%;
}

.top_products {
    padding-top: 50px;
    padding-bottom: 50px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    position: absolute;
}

.hot_offers_item {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #cdcdcd;
    text-align: center;
}

.banner-nav-left-btn-toggle {
    width: 30px;
    height: 30px;
    display: none;
}

.btn-addcart {
    background: red;
    width: 70%;
    color: white;
    margin: 1em auto 1em;
}

.nav_bottom_item:hover {
    background: #84c639;
}

.fa-check {
    color: #84c639;
}

.blink {
    animation: blink 2s infinite;
    color: #FA1818;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.footer-bottom-item {
    display: inline-block;
    border-radius: 50%;
    border: 2px white solid;
}