<div class="row newsletter" style="background: red; padding: 3em">
    <div class="container">
        <div class="row">
            <div class="newsletter_left col-md-4">
                <h4 style="color: white">Sign Up For Our Newsletter</h4>
            </div>
            <div class="newletter_right col-md-8">
                <form action="# " method="post ">
                    <input name="Email " placeholder="Email" style="padding: 10px; width: 70%; background: red" />
                    <input type="submit " value="SUBCRIBE NOW " style="padding: 10px; width: 20%; color: red" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background: black; padding: 5em">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 style="color: white">INFORMATION</h3>
                <ul class="footer_grid_list" style="padding: 0px">
                    <li>
                        <a href="# " style="color: #999">Events</a>
                    </li>
                    <li>
                        <a href="# " style="color: #999">About Us</a>
                    </li>
                    <li>
                        <a href="# " style="color: #999">Best Deals</a>
                    </li>
                    <li>
                        <a href="# " style="color: #999">Services</a>
                    </li>
                    <li>
                        <a href="# " style="color: #999">Short Codes</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 style="color: white">POLICY INFO</h3>
                <ul class="footer_grid_list" style="padding: 0px">
                    <li>
                        <a href="# " style="color: #999">FAQ</a>
                    </li>
                    <li>
                        <a href="# " style="color: #999">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="# " style="color: #999">Term Of User</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 style="color: white">WHAT IN STORES</h3>
                <ul class="footer_grid_list" style="padding: 0px">
                    <li>
                        <a href="# " style="color: #999">Pet Food</a>
                    </li>
                    <li>
                        <a href="# " style="color: #999">Frozen Snacks</a>
                    </li>
                    <li>
                        <a href="# " style="color: #999">Kitchen</a>
                    </li>
                    <li>
                        <a href="# " style="color: #999">Branded Foods</a>
                    </li>
                    <li>
                        <a href="# " style="color: #999">Households</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 style="color: white">TWITTER POSTS</h3>
                <ul class="footer_grid_list" style="padding: 0px">
                    <li>
                        <label class="fa fa-twitter" style="color: red"></label>
                        <i style="color: #84c639">01 day ago</i>
                        <span style="color: #999">Non numquan
              <a href="#">http://sd.ds/13jklf#</a>
              eius modi tempora incidunt ut labore et
              <a href="#">http://sd.ds/1389kjklf#</a>
              quo nulla
            </span>
                    </li>
                    <li>
                        <label class="fa fa-twitter" style="color: red"></label>
                        <i style="color: #84c639">02 day ago</i>
                        <span style="color: #999">Con numquan
              <a href="#">http://sd.ds/13jklf#</a>
              eius modi tempora incidunt ut labore et
              <a href="#">http://sd.ds/1389kjklf#</a>
              quo nulla
            </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="footer-bottom">
                    <h6 style="color: #84c639">100% Secure Payments</h6>
                    <img src="/FEStarted/img/card.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-3" style="color: white">
                <div class="footer-bottom">
                    <h6>Connect With Us</h6>
                    <ul style="padding-left: 0">
                        <li class="footer-bottom-item">
                            <a><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="footer-bottom-item">
                            <a><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="footer-bottom-item">
                            <a><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="footer-bottom-item">
                            <a><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="footer-bottom-item">
                            <a><i class="fa fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>